@model IEnumerable<NHOM5_NET105_SD17305.Data.Models.Promotion>

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.PromotionName)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.PromoCode)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.PromoValue)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.Create_Date)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.End_Date)</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Control</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">@item.PromotionName</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">@item.PromoCode</h6>
                    </div>
                </div>
            </td>
            <td class="align-middle text-center text-sm">
               <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">@item.PromoValue</h6>
                    </div>
                </div>
            </td>
            <td class="align-middle text-center">
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@item.Create_Date.ToShortTimeString()</h6>
                    </div>
                </div>
            </td>
            <td class="align-middle text-center">
                <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@item.End_Date.ToShortTimeString()</h6>
                    </div>
                </div>
            </td>

            <td class="align-middle">
                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Edit
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>